.infoBox {
    flex: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 20px !important;
}

.infoBox:hover {
    background-color: rgba(250, 139, 161, 0.125);
}
.infoBox__recovered:hover {
    background-color: rgba(140, 204, 123, 0.125) !important;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox__title {
    font-size: 2rem !important;
}
.infoBox__title__red {
    color: #f6424c !important;
}
.infoBox__title__green {
    color: #41a746 !important;
}

.infoBox__cases {
    color: #f6424c;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    margin-top: 5px !important;
}
.infoBox__total__red {
    color: #f6424c;
}

.infoBox__total__green {
    color: #41a746;
}

.infoBox__selected {
    border-top: 10px solid #f6424c;
    color: #fde1e1 !important;
    background-color: rgba(250, 139, 161, 0.125) !important;
}
.infoBox__selected__recovered {
    background-color: rgba(140, 204, 123, 0.125) !important;
}
.infoBox__recovered {
    border-color: green;
    color: #41a746 !important;
}
/* .infoBox__recovered:hover {
    background-color: green !important;
} */
.infoBox__recovered__new {
    color: #41a746;
}
