.infoBox {
    flex: 1;
    cursor: pointer;
    text-align: center;
    border-radius: 12px !important;
}

.infoBox:hover {
    background-color: rgba(250, 139, 161, 0.125);
}
.infoBox__recovered:hover {
    background-color: rgba(140, 204, 123, 0.125) !important;
}

.infoBox:not(:last-child) {
    margin-right: 10px;
}

.infoBox__title {
    font-size: 2rem !important;
}
.infoBox__title__red {
    color: #f6424c !important;
}
.infoBox__title__green {
    color: #41a746 !important;
}

.infoBox__cases {
    color: #f6424c;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infoBox__total {
    font-weight: bold !important;
    font-size: 1.3rem !important;
}
.infoBox__total__red {
    color: #f6424c;
}

.infoBox__total__green {
    color: #41a746;
}

.infoBox__selected {
    border-top: 8px solid #f6424c;
    color: #fde1e1 !important;
    background-color: rgba(250, 139, 161, 0.125) !important;
}
.infoBox__selected__recovered {
    background-color: rgba(140, 204, 123, 0.125) !important;
}
.infoBox__recovered {
    border-color: green;
    color: #41a746 !important;
}
.infoBox__recovered__new {
    color: #41a746;
}

@media only screen and (max-width: 600px) {
    .infoBox {
        border-radius: 8px !important;
        border-top: 0px;
    }
    .infoBox__title {
        font-size: 0.9rem !important;
    }
    .infoBox__total {
        font-weight: 500 !important;
        font-size: 1rem !important;
    }
    .MuiCardContent-root {
        padding-left: 1vw !important;
        padding-right: 1vw !important;
    }
}
