* {
    margin: 0;
}
body {
    background-color: whitesmoke;
    /* font-family: "Mali", cursive !important; */
    font-family: "Thasadith", sans-serif;
}

.app__upper {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.app__left {
    flex: 0.9;
}

.app__right {
    display: flex;
    flex-direction: column;
}
.app__right h3 {
    padding-bottom: 10px;
}

.app__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}
.app__HeaderText {
    color: red;
}

.app__stats {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;  */
}

.table__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.app__sidegraph {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* ************************************app__lower*************************************** */

/* .app__lower {
} */

/* ******************************app__graph************************** */
.app__graph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app__graph__item {
    text-align: center;
    margin: 1vw;
    box-shadow: 0 0 8px -4px black;
    border-radius: 8%;
    padding: 25px;
}

/* *********************************Responsive************************************* */
@media (max-width: 920px) {
    .app__upper {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    /* .app__header {
        flex-direction: column;
    } */
    /* .app__stats {
        flex-direction: column;
    } */

    /* **********************App Right*********************** */
    .app__right {
        flex-direction: column-reverse;
    }
    .app__info {
        margin: 20px !important;
    }
    .app__header h1 {
        padding-bottom: 20px;
    }

    .app__graph__item {
        padding: 1vw;
    }
}
